@import 'tailwindcss';


* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'gilroy';
}

.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background: url("/public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.landingPageContainer .navHeader h2 {
    cursor: pointer;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.landingPageContainer nav h2 {
    font-size: 26px;
}

.landingPageContainer nav .navlist {
    display: flex;
    gap: 1.6rem;
    cursor: pointer;
}

.landingMainContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    height: 80vh;
    align-items: center;
}

.landingMainContainer .mobile img {
    height: 70vh;
    width: auto;
}

.landingMainContainer .hero-heading h1 {
    font-size: 55px;
    
}

.landingMainContainer .hero-heading .btn {
    background-color: #725CAD;
    width: fit-content;
    padding: 1rem;
    border-radius: 30px;
    margin-top: 50px;
}

.landingMainContainer .hero-heading .btn a {
    text-decoration: none;
    
}

/* Auth Page */

.css-17n6u9-MuiGrid-root{
    min-width: 50%;
    width: 50%;
}