* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background: url("/public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: pointer;
}

.landingPageContainer nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPageContainer nav h2 {
    font-size: 26px;
}

.landingPageContainer nav .navlist {
    display: flex;
    gap: 1.6rem;
    cursor: pointer;
}